#playerEffects {
    position: absolute;
    top: 80px;
    left: 20px;
    display: flex;
    gap: 10px;
}

.player-effect {
    text-align: center;
    border: 2px solid gray;
    border-radius: 10px;
    width: 24px;
    height: 24px;
    box-shadow: 1px 1px 1px 2px black;
    img {
        max-width: 100%;
        border-radius: 10px;
        object-fit: contain;
    }

    &:hover {
        border-color: gold;
        .player-effect-tooltip {
            display: block;
        }
    }


}
.player-effect-positive {
    border-color: greenyellow;

    .player-effect-description {
        border-color: rgb(17, 206, 17);
    }
}
.player-effect-negative {
    border-color: red;
}

.player-effect-tooltip {
    display: none;
    position: absolute;
    font-size: 0.8rem;
    border-radius: 5px;
    top: 35px;
    padding: 10px;
    min-width: 180px;
    background: white;
    text-align: left;
    box-shadow: 1px 1px 1px 1px black;


    &::after {
        top: -5px;
        left: 2px;
        display: block;
        position: absolute;
        width: 0px;
        content: "";
        border: 10px solid transparent;
        border-bottom-color: white;
        border-top: 0;
    }
}

.player-effect-title {
    font-weight: bold;
    margin-bottom: 5px;
}
.player-effect-description {
    padding: 5px;
    border-left: 2px solid red;
    border-bottom: 2px solid red;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: rgba(128, 128, 128, 0.2);
}

.player-effect-duration {
    margin-top: 10px;
    color: white;
    font-size: 0.75rem;
}