#experienceBar {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 15px;
    left: 20px;
    width: 200px;
    height: 10px;
    border: 2px solid white;
    border-radius: 2px;
    box-shadow: 1px 1px 1px 1px gray;
    user-select: none;
}

#experienceBarBg {
    position: absolute;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    transition: .3s ease-in-out;
}

#experienceBarText {
    text-align: center;
}

#experienceBarLevel {
    border-radius: 50%;
    position: absolute;
    right: -10px;
    padding: 3px 6px;
    font-size: 1.4rem;
}