@import url(./font.css);

@tailwind base;
@tailwind components;
@tailwind utilities;



html {
    font-size: 10px
}

body {
    font-family: 'Ugly';
    background-color: #3F3851;
}

canvas {
    margin: 60px auto;
}