@import url(./font.css);

@tailwind base;
@tailwind components;
@tailwind utilities;



html {
    font-size: 10px;
}

body {
    font-family: 'Ugly';
}

.player-stats {
    padding: 10px;
}
.player-inventory {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: repeat(6, 50px);
    gap: 10px;
    padding: 10px;
}



#inventoryToggle {
    position: absolute;
    right: 20px;
    top: 20px;
}