#gameMenu {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 500px;
    position: absolute;
    top: 50%;
    width: 350px;
    left: 50%;
    transform: translate(-50%,-35%);
    padding: 120px 85px;
}